 <!-- Navbar Start -->
 <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <a href="{% url 'index' %}" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-white font-weight-normal">News</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">

                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'health' %}" class="nav-item nav-link">Health</a>
                <a href="{% url 'business' %}" class="nav-item nav-link">Business</a>
                <a href="{% url 'entertainment_and_arts' %}" class="nav-item nav-link">entertainment</a>

                                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">World</a>
                   <div class="dropdown-menu rounded-0 m-0">
                       <a href="{% url 'asia' %}" class="dropdown-item">Asia</a>
                        <a href="{% url 'asia' %}" class="dropdown-item">Africa</a>
                       <a href="{% url 'europe' %}" class="dropdown-item">Europe</a>
                       <a href="{% url 'LatinAmerica' %}" class="dropdown-item">Latin America</a>
                       <a href="{% url 'middleeast' %}" class="dropdown-item">Middle East</a>
                       <a href="{% url 'us&canada' %}" class="dropdown-item">US & Canada</a>
                       <a href="{% url 'england' %}" class="dropdown-item">England</a>
                       <a href="{% url 'northernireland' %}" class="dropdown-item">Northern Ireland</a>
                       <a href="{% url 'scotland' %}" class="dropdown-item">Scotland</a>
                       <a href="{% url 'wales' %}" class="dropdown-item">Wales</a>
                   </div>
                </div>
                <a href="{% url 'politics' %}" class="nav-item nav-link">Politics</a>
                <a href="{% url 'archive' %}" class="nav-item nav-link">Archive</a>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More</a>
                   <div class="dropdown-menu rounded-0 m-0">
                       <a href="{% url 'sports' %}" class="dropdown-item">sports</a>
                        <a href="{% url 'business' %}" class="dropdown-item">Business</a>
                       <a href="{% url 'technology' %}" class="dropdown-item">Technology</a>
                   </div>
                </div>


            </div>
            <div class="input-group ml-auto d-none d-lg-flex" style="max-width: 500px;">
                

            </div>
        </div>
    </nav>
</div>