{% extends 'boot/boot.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for entry in entries %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {% if entry.image_url %}
                            <a href="{{ entry.link }}"><img class="card-img-top" src="{{ entry.image_url }}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <a href="{{ entry.link }}"> <h5 class="card-title">{{ entry.title|slice }}</h5></a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}